@import "./markdown.css";

:root {
	--font-sans: "Google Sans", sans-serif;
	--font-mono: "Google Sans Code", monospace;
	--font-size-body: 16px;
	--font-size-md: 1rem;
	--background-primary: #ffffff;
	--background-secondary: #fafafa;
	--font-color-primary: #000000;
	--border-primary: color-mix(in oklab, #000000 35%, transparent);
	--border-secondary: color-mix(in oklab, #000000 20%, transparent);
	--dot-pattern: color-mix(in oklab, #000000 10%, transparent);
}

.dark {
	--background-primary: #0a0a0a;
	--background-secondary: #111111;
	--font-color-primary: #ffffff;
	--border-primary: color-mix(in oklab, #ffffff 30%, transparent);
	--border-secondary: color-mix(in oklab, #ffffff 15%, transparent);
	--dot-pattern: color-mix(in oklab, #ffffff 10%, transparent);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-sans);
	font-size: var(--font-size-body);
	color: var(--font-color-primary);
	background: var(--background-primary);
}

code {
	font-family: var(--font-mono);
	font-size: var(--font-size-md);
	font-weight: 400;
}
